/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
    .top-title h1{
        font-size:40px;
    }
    .otter{
    width:100%;
    }
    .place-container{
        padding: 0 5px;
        font-size:10px;
    }
}
